

        <h4>Text in aside</h4>
        <p ng-bind-html="content"></p>
        <pre>2 + 3 = {{ 2 + 3 }}</pre>

        <h4>Popover in aside</h4>
        <p>This <button type="button" class="btn btn-default popover-test" data-title="A Title" data-content="And here's some amazing content. It's very engaging. right?" bs-popover>button</button> should trigger a popover on click.</p>

        <h4>Tooltips in aside</h4>
        <p><a href="#" class="tooltip-test" data-title="Tooltip" bs-tooltip>This link</a> and <a href="#" class="tooltip-test" data-title="Tooltip" bs-tooltip>that link</a> should have tooltips on hover.</p>

       <!--  <div ng-repeat="list in lists track by $index">{{list.name}}<br />
          <div ng-repeat="product in list.products">{{product.name}}</div>
        </div> -->


