<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>OMGNEED</title>

  
  <!-- <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/flexslider.css">
  <link rel="stylesheet" href="css/typicons.min.css"> -->
  <link rel="stylesheet" href="css/style.css">
 <!--  <link rel="stylesheet" href="css/responsive.css"> -->
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Petrona' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- <div id="loader"><div id="progress-bar"></div></div> -->
<section id="nav">

  <div class="row">
    <div class="large-4 columns">
      <ul class="navigation hide-for-small">
        <li><a class="scroll" href="#about-nav">ABOUT</a></li>
        <li><a class="scroll" href="#services-nav">SHOP</a></li>
      </ul>
    </div>
    
    <div class="large-4 columns text-center">
      <a href="index.html"><h5 id="logo">OMGNEED</h5></a>
    </div>
    
    <div class="large-4 columns">
      <ul class="navigation hide-for-small">
        <li><a class="scroll" href="#work-nav">BRANDS</a></li>
        <li><a class="scroll" href="#contact-nav">LOGIN</a></li>
      </ul>
    </div>
    
    <div class="open-menu show-for-small right"><i class="typcn typcn-th-menu"></i></div>
  </div>
  
  <div class="row">
    <div class="large-12 columns mobile-nav">
      <ul class="navigation">
        <li><a class="scroll" href="#about-nav">ABOUT</a></li>
        <li><a class="scroll" href="#services-nav">SHOP</a></li>
        <li><a class="scroll" href="#work-nav">BRANDS</a></li>
        <li><a class="scroll" href="#contact-nav">LOGIN</a></li>
      </ul>
    </div>
  </div>

</section>

<!-- <section id="home">

   <div id="home-slider"> 
    <ul class="slides"> 
        <li> -->
      <!--     <div class="row">
            <div class="large-12 columns">
         
            
          </div>
          <img class="slider-bg" alt="Slider Image" src="http://www.designsnext.com/wp-content/uploads/2014/02/fashion-photography-7.jpg" />
        </li> -->

      <!--   <li>
          <div class="row">
            <div class="large-12 columns">
              <div class="tile-wrapper">
                <div class="slider-tile">
                  <i class="typcn typcn-leaf"></i>
                  <h5>OMGNEED</h5>
                  <div class="hr large-1 small-3"></div>
                  <div class="biline">Your personal real-time shopping newsfeed.</div>
                </div>
              </div>
            </div>
          </div>
          <img class="slider-bg" alt="Slider Image" src="http://www.designsnext.com/wp-content/uploads/2014/02/fashion-photography-7.jpg" />
        </li> -->
        
        
  <!--     </ul>
    </div> -->


<!-- </section> -->

<!-- <a id="about-nav"></a>
<section id="about" class="pad-large">
  <div class="row">
    <div class="large-12 columns tnter">
      <div class="page-header pad-bottom">
        <div class="box-heading">
          WHO WE ARE
        </div>
        <h1>ABOUT US</h1>
        <div class="hr large-1 small-3"></div>
      </div>
    </div> -->
  <!-- </div>
  
  <div class="row">
    <div class="large-12 columns">
      <p id="about-text">
        See the newest arrivals from your favorite stores in one simple newsfeed.
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="large-3 columns text-center">
      <div class="team-member">
        <div class="team-img-wrapper">
          <div class="team-img-holder">
            <img alt="Team Image" src="http://www.designsnext.com/wp-content/uploads/2014/02/fashion-photography-7.jpg" />
          </div>
        </div>
        <h6>TOM BAILEY</h6>
        <span>Company Director</span>
        <div class="hr large-2 small-1"></div>
        <ul class="team-social">
          <li><a href="#"><i class="typcn typcn-social-twitter-circular"></i></a></li>
          <li><a href="#"><i class="typcn typcn-social-facebook-circular"></i></a></li>
          <li><a href="#"><i class="typcn typcn-social-dribbble-circular"></i></a></li>
        </ul>
      </div>
    </div>
    
    <div class="large-3 columns text-center">
      <div class="team-member">
        <div class="team-img-wrapper">
          <div class="team-img-holder">
            <img alt="Team Image" src="http://placehold.it/160x160" />
          </div>
        </div>
        <h6>MARK SIMKIN</h6>
        <span>Graphic Designer</span>
        <div class="hr large-2 small-1"></div>
        <ul class="team-social">
          <li><a href="#"><i class="typcn typcn-social-twitter-circular"></i></a></li>
          <li><a href="#"><i class="typcn typcn-social-facebook-circular"></i></a></li>
          <li><a href="#"><i class="typcn typcn-social-dribbble-circular"></i></a></li>
        </ul>
      </div>
    </div>
    
    <div class="large-3 columns text-center">
      <div class="team-member">
        <div class="team-img-wrapper">
          <div class="team-img-holder">
            <img alt="Team Image" src="http://placehold.it/160x160" />
          </div>
        </div>
        <h6>ABBY HICKS</h6>
        <span>Developer</span>
        <div class="hr large-2 small-1"></div>
        <ul class="team-social">
          <li><a href="#"><i class="typcn typcn-social-twitter-circular"></i></a></li>
          <li><a href="#"><i class="typcn typcn-social-facebook-circular"></i></a></li>
          <li><a href="#"><i class="typcn typcn-social-dribbble-circular"></i></a></li>
        </ul>
      </div>
    </div>
    
    <div class="large-3 columns text-center">
      <div class="team-member">
        <div class="team-img-wrapper">
          <div class="team-img-holder">
            <img alt="Team Image" src="http://placehold.it/160x160" />
          </div>
        </div>
        <h6>TODD MARSH</h6>
        <span>Super Best Friend</span>
        <div class="hr large-2 small-1"></div>
        <ul class="team-social">
          <li><a href="#"><i class="typcn typcn-social-twitter-circular"></i></a></li>
          <li><a href="#"><i class="typcn typcn-social-facebook-circular"></i></a></li>
          <li><a href="#"><i class="typcn typcn-social-dribbble-circular"></i></a></li>
        </ul>
      </div>
    </div>
    
  </div>
</section> -->

<div id="quote-divider">
  <div class="row">
    <div class="large-8 large-centered columns">
      <img alt="image" src="http://www.michaelgrecco.com/data/photos/292_1r24_fashion_photographer_and_director_michael_grecco.jpg" />
      <h2 class="text-white">Browse your favorite stores in one simple newsfeed.</h2>
      <div class="thick-hr large-3"></div>
      <a href="#"><div class="btn-wrapper"><div class="btn">PURCHASE</div></div></a>
      <a target="_blank" href="https://twitter.com/intent/user?screen_name=craig800"><div class="btn-wrapper"><div class="btn"><i class="typcn typcn-social-twitter"></i>FOLLOW</div></div></a>
    </div>
  </div>
</div>

<a id="services-nav"></a>
<section id="services" class="pad-large">

  <div class="row">
    <div class="large-12 columns text-center">
      <div class="page-header pad-bottom">
        <div class="box-heading">
          SHOP YOUR FAVORITE STORES IN ONE PLACE.
        </div>
        <h1>THE LOWDOWN.</h1>
        <div class="hr large-1 small-3"></div>
      </div>
    </div>
  </div>
  
  <div class="row services-row">
    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-beaker"></i>
        <h5>SEARCH BRANDS</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          SEARCH BRANDS
        </p>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-lightbulb"></i>
        <h5>BROWSE</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          BROWSE
        </p>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-brush"></i>
        <h5>SAVE TO LISTS</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          SAVE TO LISTS
        </p>
      </div>
    </div>
    
  </div>
  
  <div class="row services-row">
    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-support"></i>
        <h5>SEE NEW ITEMS</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          SEE NEW ITEMS
        </p>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-beer"></i>
        <h5>SHOP</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          SHOP
        </p>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-eye-outline"></i>
        <h5>PURCHASE</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          PURCHASE
        </p>
      </div>
    </div>
    
  </div>
  
</section>

<section id="clients">
  <div class="row">
    <div class="large-12 columns text-center">
      <h3 class="text-white">BRANDS THAT YOU LOVE <i class="typcn typcn-heart-outline">&nbsp;</i></h3>
      <div class="hr large-1 small-3"></div>
    </div>
  </div>
  
  <div class="row">
    
    
  

    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://www.designsnext.com/wp-content/uploads/2014/02/fashion-photography-7.jpg" />
          <div class="work-overlay">
            <h6>NEIMAN MARCUS</h6>
            <div class="hr large-2 small-2"></div>
         
          </div>
        </div>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
         <!--  <img alt="Work Image" src="http://nastygal.affiliatetechnology.com/images/logo_01.jpg" /> -->
          <img alt="Work Image" src=" http://blog.nastygal.com/wp-content/uploads/2012/07/lais.jpg" />
         
          <div class="work-overlay">
            <h6>NASTY GAL</h6>
            <div class="hr large-2 small-2"></div>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="large-3 columns client text-center">
      <img alt="client image" src="http://placehold.it/250x100" />
    </div>
  
  </div>
  
</section>

<a id="work-nav"></a>
<section id="work" class="pad-large">

  <div class="row">
    <div class="large-12 columns text-center">
      <div class="page-header pad-bottom">
        <div class="box-heading">
          CHECK THIS OUT
        </div>
        <h3 class="text-black">YOUR MOST LOVED STORES <i class="typcn typcn-heart-outline">&nbsp;</i></h3>
        <div class="hr large-1 small-3"></div>
      </div>
    </div>
  </div>
  
  <div class="row work-row">
  
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://www.designsnext.com/wp-content/uploads/2014/02/fashion-photography-7.jpg" />
          <div class="work-overlay">
            <h6>FIELD OF DREAMS</h6>
            <div class="hr large-2 small-2"></div>
            <span>Photography</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
         <!--  <img alt="Work Image" src="http://nastygal.affiliatetechnology.com/images/logo_01.jpg" /> -->
          <img alt="Work Image" src=" http://blog.nastygal.com/wp-content/uploads/2012/07/lais.jpg" />
         
          <div class="work-overlay">
            <h6>N A S T Y   </br>G A L</h6>
            <div class="hr large-2 small-2"></div>
            <span>NASTY GAL</span>
          </div>
        </div>
      </div>
    </d   </div>
    
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://www.wwd.com/images/processed/wwd/2012/08/27/memo-forever21/landscape/02-tout/forever2104.jpg" />
          <div class="work-overlay">
            <h6>FOREVER 21</h6>
            <div class="hr large-2 small-2"></div>
            <span>FOREVER 21</span>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="row work-row">
  
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://momspark.net/wp-content/uploads/2013/08/Free-People-Logo.jpg" />
          <div class="work-overlay">
            <h6>FREE PEOPLE</h6>
            <div class="hr large-2 small-2"></div>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://www.ahoodie.com/wp-content/uploads/2013/04/gucci-desktop-8.jpg" />
          <div class="work-overlay">
            <h6>GUCCI</h6>
            <div class="hr large-2 small-2"></div>
           
          </div>
        </div>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://www.en.pambianconews.com/wp-content/uploads/2012/12/asos_1753loj-1753lpp.jpeg" />
          <div class="work-overlay">
            <h6>ASOS</h6>
            <div class="hr large-2 small-2"></div>
           
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <div id="project-1" class="project">
    <div class="row">
      <div class="large-12 columns text-center">
        <div class="close-project">
          <i class="typcn typcn-delete-outline"></i>
        </div>
        <div class="project-details">
          <h3>project title</h3>
          <div class="hr large-1 small-3"></div>
          <p>
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="project-images">
          <div class="row text-center">
            <div id="project-1-slideshow" class="work-slider">
              <ul class="slides">
                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="http://placehold.it/630x630" />
                  </div>
                </li>
                
                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="http://placehold.it/630x630" />
                  </div>
                </li>
                
                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="http://placehold.it/630x630" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</section>

<a id="contact-nav"></a>
<section id="contact">

  <iframe src="https://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=national+park&amp;aq=&amp;sll=-34.535056,138.949971&amp;sspn=0.016209,0.019248&amp;ie=UTF8&amp;hq=&amp;hnear=National+Park+Tasmania&amp;ll=-42.681257,146.729311&amp;spn=0.028924,0.038495&amp;t=m&amp;z=14&amp;iwloc=&amp;output=embed"></iframe>
  <div id="map-toggle" class="btn-wrapper"><div class="btn"><i class="typcn typcn-map"></i>TOGGLE MAP</div></div>
  
  <div id="contact-holder">
    <div class="row">
      <div class="large-12 columns text-center">
        <div class="page-header pad-bottom">
          <div class="box-heading">
            SIGN UP NOW
          </div>
          <h1>GIMME MY <strong>NEWSFEED!</strong></h1>
          <div class="hr large-1 small-3"></div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="large-5 columns">
     
        </p>
        <ul id="contact-details">
          <li><i class="typcn typcn-location-outline">&nbsp;</i>made with love in los angeles.</li>
          <li><i class="typcn typcn-social-twitter">&nbsp;</i>General Assembly</li>
        </ul>
      </div>
      
      <div class="large-7 columns">
        <div id="contact-form">
          <div id="name">
            <div class="form-icon">
              <i class="typcn typcn-user"></i>
            </div>
            <input id="form-name" type="text" placeholder="Name" />
          </div>
          
          <div id="email">
            <div class="form-icon">
              <i class="typcn typcn-mail"></i>
            </div>
            <input id="form-email" type="text" placeholder="Email" />
          </div>
          
          <div id="message">
            <div class="form-icon">
              <i class="typcn typcn-pencil"></i>
            </div>
            <textarea id="form-message" placeholder="Message"></textarea>
          </div>
          <div id="details-error" class="text-white"><i class="typcn typcn-warning">&nbsp;</i>Error: Please ensure all fields are completed correctly</div>
          <div id="form-sent" class="text-white"><i class="typcn typcn-thumbs-up">&nbsp;</i>Thank you, your message has been sent!</div>
          <div class="btn-wrapper"><div class="btn">SEND<i class="typcn typcn-arrow-right"></i></div></div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns text-center">
        <div id="footer">
          <div class="hr large-1 small-3"></div>
          <ul id="footer-social">
            <li><a href="#"><i class="typcn typcn-social-twitter-circular"></i></a></li>
            <li><a href="#"><i class="typcn typcn-social-facebook-circular"></i></a></li>
            <li><a href="#"><i class="typcn typcn-social-dribbble-circular"></i></a></li>
            <li><a href="#"><i class="typcn typcn-social-vimeo-circular"></i></a></li>
          </ul>
          <div id="copy-text">&copy;&nbsp;&nbsp;<span class="logo-text">OMGNEED</span>&nbsp;&nbsp;2014</div>
        </div>
      </div>
    </div>
    
    
  </div><!-- end of contact holder -->
  
  
  

</section>




  <script>
    $(document).foundation();
  </script>
</body>
</html>